// .Group{
//     display: flex;
    
//     max-width: 800px; /* Adjust as needed */
//     padding: 20px;
//     height: 100vh;
//     background-color: rgba(248, 250, 252, 1);
//     .head{
//         color: rgba(15, 23, 42, 1);
// font-family: Inter;
// font-size: 22px;
// font-weight: 700;
// line-height: 28px;
//     }
//     .search{

//     }
// }
.Group{
    display: flex;
    height: 50px;
    background-color:rgba(248, 250, 252, 1);
    border-bottom: 1px solid #F1F5F9;
    min-width: 700px;
    padding: 0 20px;
  
    .head {
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 20rem;
        flex: 1;
    }
    .search{
        padding-left: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // flex: 6;
        // flex-shrink: 0;
        img{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 24px;
                &:hover{
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                background-color: rgb(199, 215, 228);
                border-radius: 10%;
                }
            }
        }

      
    }



