.below-image{
    display: flex;
    margin: 10px;
   width: 125%;
   padding-bottom: 20px;

    .pro{
        display: flex;
        align-items: center;
        text-align: center;
        margin-left: 35px;
        flex: 0.3;
    }
    .navs{
        display: flex;
        flex: 0.8;
        padding: 8px 20px 0px 0;
        justify-content: space-between;
        
       .posts{
        display: flex;
        flex-direction: column;
        padding-right: 30px;
        border-right:2px solid grey ;
       } 
    }

    .dim-header{
        font-size: 15px;
        color: rgb(165, 165, 165);
    }
}
