.leftContent{
  display: flex;
  flex: 6;
  gap: 32px;
  height: 90vh;
  width: 63vw;
  overflow: scroll;
  scroll-behavior: smooth;
  .rightSide{
    width: 83%;
    padding: 0px 20px 0 20px;
  }
}
  

