.leftContent{
  display: flex;
  flex: 6;
  gap: 32px;
  height: 100%;
  .rightSide{
    width: 80%;
    
    // background-color: #F8FAFC;
    
  }
  .leftSide{
    width: 20%;
    height: 100%;
  }
}
  