.navbar{
    display: flex;
    position: fixed;
    /* Make the navbar fixed */
    top: 0; /* Position it at the top of the viewport */
    height: 50px;
    background-color: rgba(255, 255, 255, 1);
    ;
    flex-shrink: 0;
    border-bottom: 1px solid #F1F5F9;
    width: 100vw;
    padding: 0 20px;
  
    .nav-logo {
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        flex: 1;
    }
    .right-nav{
        padding-left: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 6;
        flex-shrink: 0;
        .nav-icons{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 24px;
            .profile {
                display: inline-flex;
                align-items: center;
                &:hover{
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                background-color: rgb(199, 215, 228);
                border-radius: 10%;
                }
            }

        }
      
    }
}
@media screen and (max-width: 500px){
  
    
    .navbar{
        display: flex;
        position: fixed;
        width: 100%;
      
        .nav-logo {
           .resp-menu{
            display: flex;
            flex-direction: row;
            padding: 5px;
            border-radius: 6px;
            border: 1px solid #F1F5F9;
           }
        }
        .right-nav{
            .resp-right-menu{
                display: block;
            }
            .nav-input{
                display: none;
            }
            .nav-icons{
                display:none;
               
    
            }
          
        }
        
    }
    }
    
    

